<template name="header">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="X-UA-Compatible" content="chrome=1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>min-blog 安装程序</title>
  <link rel="stylesheet" href="<{U_RES}>/css/min-blog.min.css">
  <style>
    .lay-content{min-height: calc(100vh - 1.5rem);}
    .input .msg{color: #e91e63;}
    i.mb{font-size: .5rem;}
    .center-box{
      max-width: 18rem;
      margin: auto;
    }
    .card{
      margin-top: .4rem;
    }
    p.title{
      text-align: center;
      font-size: 1rem;
      padding-top: .4rem;
      font-weight: 700;
    }
  </style>
</template>
  
<template name="footer">
  <div class="lay-foot">
    <p>
      <strong>
        <a class="grey-text text-lighten-3" href="http://www.z-php.com/">min-Blog</a>
      </strong> powered by
      <strong>
        <a class="grey-text text-lighten-3" href="http://www.z-php.com/">Z-PHP 4.1</a>
      </strong>
    </p>
  </div>
</template>
