.lay-content{min-height: calc(100vh - 1.5rem);}
.left .card+.card{margin-top: .4rem;}
.card .head>a+a{margin-left: .4rem;}
.art .foot{display: flex; justify-content: space-between; flex-wrap: auto; color: #fff;padding: .2rem;}
.content p.time{font-size: .85em;word-break: keep-all;line-height: 1.5;}
.fixed-box button{
    font-size: 1.5em;
    line-height: 1;
    padding: 0 .3em;
    border: 0;
}

/*以下是文章内容样式*/
.art .content img{max-width: 100%;}
.art .content a{color: #06c;}
.card .head a,.art .content a{
    box-shadow: inset 0px -3px 3px -2px;
}
.art blockquote{
    margin: .2rem 0;
    border-left: .1rem solid #bbb;
    padding-left: .4rem;
}
.art blockquote+blockquote{margin-top: -.2rem}
/*编辑器样式*/
.ql-align-right{text-align: right;}
.ql-align-center{text-align: center;}
.ql-indent-1{padding-left: 3em}
.ql-indent-2{padding-left: 6em}
.ql-indent-3{padding-left: 9em}
.ql-indent-4{padding-left: 12em}
.ql-indent-5{padding-left: 15em}
.ql-indent-6{padding-left: 18em}
.ql-indent-7{padding-left: 21em}
.ql-indent-8{padding-left: 24em}
.ql-indent-9{padding-left: 27em}

/*代码高亮*/
.art .content pre{
    font-family: consolas, Courier, "MS Courier New", monospace;
    letter-spacing: 0;
    padding: 0 .2rem;
    background: #003a30;
    color: #f8f8f2;
    overflow: visible;
}
.hljs{display:block;overflow-x:auto;padding:0.5em;background:#23241f}
.hljs,.hljs-tag,.hljs-subst{color:#f8f8f2}
.hljs-strong,.hljs-emphasis{color:#a8a8a2}
.hljs-bullet,.hljs-quote,.hljs-number,.hljs-regexp,.hljs-literal,.hljs-link{color:#ae81ff}
.hljs-code,.hljs-title,.hljs-section,.hljs-selector-class{color:#a6e22e}
.hljs-strong{font-weight:bold}
.hljs-emphasis{font-style:italic}
.hljs-keyword,.hljs-selector-tag,.hljs-name,.hljs-attr{color:#f92672}
.hljs-symbol,.hljs-attribute{color:#66d9ef}
.hljs-params,.hljs-class .hljs-title{color:#f8f8f2}
.hljs-string,.hljs-type,.hljs-built_in,.hljs-builtin-name,.hljs-selector-id,.hljs-selector-attr,.hljs-selector-pseudo,.hljs-addition,.hljs-variable,.hljs-template-variable{color:#e6db74}
.hljs-comment,.hljs-deletion,.hljs-meta{color:#75715e}